/*Declarando as fontes*/
@font-face{
    font-family:titulos;
    src: url(../fontes/Lovelo-Black.ttf)
}
@font-face{
    font-family: texto;
    src: url(../fontes/Poppins-Light.ttf)
}

*, *:before, *:after { 
  margin:0;
  padding:0;
}

/* removendo a linha dos links e colocando fontes */
a{
  text-decoration: none;
  font-family: texto;
}

h2,h3,h4,h5{
  text-decoration: none;
  font-family: titulos;
}

h2,h3,h4,h5 a{
  text-decoration: none;
  font-family: titulos;
}

h1{
  font-size: 40px;
  padding: 2px 0 10px 0;
  font-family: titulos;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

h1:after{
  content: ' ';
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 10px;
}

p{
  margin-bottom:15px;
   font-family: texto;
}

form{
  font-family: texto;
}

/*Definindo container das norícias*/
.container2{
    width: 100%;
  padding-right: 20%;
  padding-left: 20%;
  margin-right: auto;
  margin-left: auto;
}

.imgnoticias{
  width: 100%;
}

.posicaoimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
 
/*minha conta*/
.minhaconta{
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 23%;
  width: 50%;
  border-right: 7px solid #90E4F5;
  border-left: 7px solid #90E4F5;
  border-top: 7px solid #90E4F5;
  border-bottom: 7px solid #90E4F5;
  background-color: #DBF2F7;
  padding: 10px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -border-radius: 0px;
  box-shadow: inset 0 0 50px #ecebeb, 0 0 8px #687375;
  -webkit-transition-duration: .50s;
}

/*Termos de segurança e privacidade*/
.termoscont{
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 23%;
  width: 50%;
  border-right: 7px solid #90E4F5;
  border-left: 7px solid #90E4F5;
  border-top: 7px solid #90E4F5;
  border-bottom: 7px solid #90E4F5;
  background-color: #DBF2F7;
  padding: 10px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -border-radius: 0px;
  box-shadow: inset 0 0 50px #ecebeb, 0 0 8px #687375;
  -webkit-transition-duration: .50s;
} 
/* escondendo as ancoras da tela */
a.linkscadlogin{
  display: none;
}

.containercadlogin{
  margin-left: 2%;
  margin-right: 2%;
  overflow-y:hidden;
  overflow-x:hidden;
}

.cadlogingcontent{
  width: 500px;
  min-height: 560px;    
  margin: 0px auto;
  position: relative;
  margin-bottom: 55px;
}

.cadlogingcontent p:first-child{
  margin: 0px;
}
 
label{
  color: #405c60;
  position: relative;
  font-family: texto;
}

/* placeholder */
::-webkit-input-placeholder  {
  color: #bebcbc; 
  font-style: italic;
}

input:-moz-placeholder,
textarea:-moz-placeholder{
  color: #bebcbc;
  font-style: italic;
}

input {
  outline: none;
}
 
/*estilo dos input,  menos o checkbox */
input:not([type="checkbox"]){
  width: 95%;
  margin-top: 4px;
  padding: 10px;    
  border: 1px solid #b2b2b2;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
 
/*estilo do botão submit */
input[type="submit"]{
  width: 100%!important;
  cursor: pointer;
  background-color: #343a40;
  padding: 8px 5px;
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
  text-shadow: 0 1px 1px #333;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  transition: all 0.2s linear;
}
 
/*estilo do botão submit no hover */
input[type="submit"]:hover{
  background: #1d2124;
}

.linklogincad{
  position: absolute;
  background-color: #687375;
  color: white;
  left: 0px;
  height: auto;
  width: 100%;
  padding: 17px 30px 20px 30px;
  font-size: 16px;
  text-align: center;
  border-top: 1px solid #dbe5e8;
  -webkit-border-radius: 0 0  5px 5px;
  border-radius: 0 0  5px 5px;
}
 
.linklogincad a {
  font-weight: bold;
  background: white;
  padding: 6px;
  color: #687375;
  margin-left: 10px;
  border: 1px solid white;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s  linear;
}
 
.linklogincad a:hover {
  color: black;
  background: #f7f7f7;
  border: 1px solid white;
}

#cadastrohome, 
#loginhome{
  position: absolute;
  top: 0px;
  width: 88%;  
  padding: 18px 6% 60px 6%;
  margin: 0 0 35px 0;
  background-color: #DBF2F7;
  -webkit-box-shadow: 5px;
  border-radius: 5px;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

/* Efeito ao clicar no botão ( Ir para Login ) */
#paracadastro:target ~ .cadlogingcontent #cadastrohome,
#paralogin:target ~ .cadlogingcontent #loginhome{
  z-index: 2;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-delay: .1s;
  animation-delay: .1s;
}
 
/* Efeito ao clicar no botão ( Cadastre-se ) */
#registro:target ~ .cadlogingcontent #loginhome,
#paralogin:target ~ .cadlogingcontent #cadastrohome{
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

/*fadeInLeft*/
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
 
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
 
/*fadeOutLeft*/
@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
}
 
@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}

/*Como funciona*/
.icones-display{
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: auto;
}

.passos{
  width: 250px;
  margin-top: 30px;
  text-align: center;
}

.passos p{
  text-align: justify;
  font-size: 15px;
}

/*Ajuda*/
.ajuda-display{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 12%;
  margin: auto;
}

/*social*/
.social1{
  margin-right: 20px;
  border-right: 7px solid #456D75;
  border-left: 7px solid #456D75;
  border-top: 7px solid #456D75;
  border-bottom: 7px solid #456D75;
  background-color: #DBF2F7;
  padding: 10px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -border-radius: 0px;
  box-shadow: inset 0 0 50px #ecebeb, 0 0 8px #687375;
  -webkit-transition-duration: .50s;
}

.social2{
  margin-right: 20px;
  border-right: 7px solid #90E4F5;
  border-left: 7px solid #90E4F5;
  border-top: 7px solid #90E4F5;
  border-bottom: 7px solid #90E4F5;
  background-color: #DBF2F7;
  padding: 10px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -border-radius: 0px;
  box-shadow: inset 0 0 50px #ecebeb, 0 0 8px #687375;
  -webkit-transition-duration: .50s;
}

 .social3{
  margin-top: 30px;
  padding: 10px;
  border-right: 7px solid #72B5C2;
  border-left: 7px solid #72B5C2;
  border-top: 7px solid #72B5C2;
  border-bottom: 7px solid #72B5C2;
  background-color: #DBF2F7;
  box-shadow: inset 0 0 50px #ecebeb, 0 0 8px #687375;
  -webkit-transition-duration: .50s;
}

.social4{
  margin-top: -30px;
  padding: 10px;
  border-right: 7px solid #687375;
  border-left: 7px solid #687375;
  border-top: 7px solid #687375;
  border-bottom: 7px solid #687375;
  background-color: #DBF2F7;
  box-shadow: inset 0 0 10px #ecebeb, 0 0 8px #687375;
  -webkit-transition-duration: .50s;
}

/*Botão subir*/
#subir{
  position:fixed;
  bottom:0px;
  top: 93%;
  right:10px;
  opacity: 90%;
  cursor: pointer;
}

/*Footer*/
.site-footer
{
  background-color:#687375;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:white;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:white;
}
.site-footer a:hover
{
  color:white;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:white;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#90E4F5;
  text-decoration:none;
}

.footer-links.inline li
{
  display:inline-block
}

.social-icons{
  margin-left: 100px;
}

.text-footer{
  text-align: justify;
  width: 80%;
 }

/*Colocando grow nas redes sociais*/
 .grow-redes:hover
{
  -webkit-transform: scale(1.10);
  -ms-transform: scale(1.10);
  transform: scale(1.10);
}

.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer 
  {
    text-align:center
  }
}

.grow:hover
{
        -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
        transform: scale(1.03);
}

/*TABLET */
@media (max-width: 1169px){
  .link-news{
    margin-left: 75%;
 }

  .icones-display{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

  .passos{
    width: 1000px;
    margin-top: 30px;
    text-align: center;
}

  .passos p{
    text-align: justify;
    font-size: 15px;
}

  .ajuda-display{
    display: inline-block;
    justify-content: space-between;
    width: 74%;
    padding-right: 12%;
    margin: auto;
}

textarea{
  margin-top: 10px;
}

  .social-display{
    display: flex;
    justify-content: space-between;
    margin: auto;

}

  .social1{
    width: 300px;
    margin-right: 20px;
}

  .social2{
    width: 300px;
    margin-right: 20px;
}

  .social3{
    width: 300px;
    margin-right: 20px;
}

  .social4{
    width: 300px;
    margin-right: 20px;
    margin-top: 10px;
}

  .social-icons{
    align-items: center;
    margin: auto;
}

  .Tnoticia{
    font-size: 30px;
}
  
  .minhaconta{​​​​​​​
    width: 80%;
    margin-left: 10%;
}​​​​​​​

  .termoscont{​​​​​​​
    width: 80%;
    margin-left: 10%;
}​​​​​​​

}

/*SMART*/
@media (max-width: 767px){

  html,body{
    overflow-x: hidden !important; 
  }

  #inputCEP{
    width: 35%;
    }

  .link-news{
    margin-left: 65%;
 }

  .ajuda-display{
    display: inline-block;
    justify-content: space-between;
    width: 74%;
    padding-right: 12%;
    margin: auto;
}

textarea{
  margin-top: 10px;
}

  .social-display{
    display: inline-block;
    justify-content: space-between;
    margin: auto;
}

  .social1{
    width: 400px;
    margin-right: 20px;
}

  .social2{
    width: 400px;
    margin-right: 20px;
    margin-top: 25px;
}

  .social3{
    width: 400px;
    margin-right: 20px;
    margin-top: 25px;
}

  .social4{
    width: 400px;
    margin-right: 20px;
    margin-top: 25px;
}

  .text-footer{
    text-align: justify;
    justify-content: center;
    width: 75%;
    margin: auto;
}

  .social-icons{
    align-items: center;
    margin: auto;
}

  .Tnoticia{
    font-size: 25px;
}

  .imgcard{
    width: 300px;
    height: 300px;
}

  .minhaconta{
    width: 90%;
    padding: 70px;
    margin-left: 8%;
}

  .termoscont{
    width: 90%;
    padding: 70px;
    margin-left: 8%;
}

}